<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @league.name %>
</p>

<p>
  <strong>Logo:</strong>
  <%= @league.logo %>
</p>

<p>
  <strong>Country:</strong>
  <%= @league.country %>
</p>

<p>
  <strong>Division:</strong>
  <%= @league.division %>
</p>

<%= link_to 'Edit', edit_league_path(@league) %> |
<%= link_to 'Back', leagues_path %>
